*~
.cproject
.project
.pydevproject
config.h
config.h.in
stamp-h1
aclocal.m4
autom4te.cache/
Makefile
Makefile.in
config.sub
config.log
config.guess
config.status
configure
depcomp
install-sh
ltmain.sh
missing
ChangeLog
.deps/
.libs/
*.l[oa]
*.[oa]
*.loT
TAGS
libtool
ylwrap
vars.sh
