ddns-update-style none;

option domain-name-servers 172.16.0.1;
default-lease-time 600;
max-lease-time 7200;
log-facility local7;

subnet 172.16.0.0 netmask 255.255.255.0 {
  range 172.16.0.200 172.16.0.250;
  option routers 172.16.0.1;
  next-server 172.16.0.2;
}

